[project]
	description = My curriculum vitae made with Latex
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vincent Fournier (ntfournier)
[access "refs/for/refs/*"]
	read = group user/Vincent Fournier (ntfournier)
	push = group user/Vincent Fournier (ntfournier)
	label-Code-Review = -2..+2 group user/Vincent Fournier (ntfournier)
	label-Verified = -1..+1 group user/Vincent Fournier (ntfournier)
	rebase = group user/Vincent Fournier (ntfournier)
	removeReviewer = group user/Vincent Fournier (ntfournier)
	submit = group user/Vincent Fournier (ntfournier)
[access "refs/heads/*"]
	read = group user/Vincent Fournier (ntfournier)
	create = group user/Vincent Fournier (ntfournier)
	push = +force group user/Vincent Fournier (ntfournier)
	pushMerge = group user/Vincent Fournier (ntfournier)
[access "refs/tags/*"]
	push = +force group user/Vincent Fournier (ntfournier)
	pushTag = group user/Vincent Fournier (ntfournier)
	pushSignedTag = group user/Vincent Fournier (ntfournier)
